<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>assignments</title>
    <head>
    <body> 
        <center>
        <p>
        <tt>
            <big>
            <b style ="color:#000000;">1006 Assignment Descriptions</b>
            </big>
            </tt>
            <br />
            <br />
        </p>
        </center>
        <p>
        <b style ="color:#000000;">HW 1:</b>
        We learned how to work with binary numbers, write out basic algorithms in pseudocode, 
        and start thinking like programmers. 
        Then, we manipulated lists with simple loops and logic.
        </p>
        <p>
        <b style ="color:#000000;">HW 2:</b>
        There was selection sort analysis and our first considerations of run time cost.
        Next, we ran a projectile simulation using a constant value of gravity 
        versus one that changed with our object’s position.
        </p>
        <p>
        <b style ="color:#000000;">HW 3:</b>
        There was an introduction to dictionaries and basic recursion. 
        Then, we used Numpy to serve as a way to model a percolation tester on a 
        2d flow grid. 
        </p>
        <p>
        <b style ="color:#000000;">HW 4:</b>
        We used object oriented programming to create a class modeler. 
        The program was able to randomly generate grades for assignments and 
        plot statistics about the course.
        </p>
        <p>
        <b style ="color:#000000;">HW 5:</b>
        Using elements from earlier projects, we created a machine learning 
        program that was able to predict whether cancer cells were benign or 
        malignant with upwards of 96% accuracy. There is also an option to 
        look at advanced stats of the inputted dataset. 
        </p>
        <p>
        <b style ="color:#000000;">MIDTERM:</b>
        We manipulated images to either remove an object obstructing the view,
        flip the photo horizontally, or make the image color black and white.
        </p>
        <b style ="color:#000000;">Final:</b>
        We are using Flask to make a web server!
        </p>
        <center>
        <p>
        <br />
        <br />
            <img src ="/static/galaxy brain.png" 
            width = "500" height = "300 "alt="me">
        </p>
        </center>
    </body>
</html>

