<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Maximilian Acebal</title>
    <head>
    <body> 
        <center>
        <p>
        <tt>
            <big>
            <b style ="color:#000000;">Completed Courses</b>
            </big>
            </tt>
            <br />
            <br />
        </p>
        </center>
        <table style="width:100%">
        <tr>
            <th>Class Name</th>
            <th>Professor</th>
        </tr>
        <tr>
            <td>General Chemistry I</td>
            <td>Gerard Parkin</td>
           
        </tr>
        <tr>
            <td>Calculus II</td>
            <td>Nathan Dowlin</td>
        </tr>
        <tr>
            <td>Intro To Mechanics & Thermodyamics</td>
            <td>Tanya Zelevinsky</td>
        </tr>
        <tr>
            <td>University Writing</td>
            <td>Julie Moon</td>
        </tr>
        <tr>
            <td>Introduction to Computer Science and Programming Java</td>
            <td>Paul Blaer</td>
        </tr>
        <tr>
            <td>Data Structures in Java</td>
            <td>Paul Blaer</td>
        </tr>
        <tr>
            <td>The Art Of Engineering</td>
            <td>David Vallancourt</td>
        </tr>
        <tr>
            <td>Introduction to Electricity/Magnetism & Optics</td>
            <td>Georgia Karagiorgi</td>
        </tr>
        <tr>
            <td>Multivariable Calculus for Eng/App Sci</td>
            <td>Drew Youngren</td>
        </tr>
        <tr>
            <td>Intro To Comp for Eng/App Sci</td>
            <td>Timothy Paine</td>
        </tr>
        </table>
        <center>
        <p>
        <br />
        <br />
            <img src ="/static/logo.png" 
            width = "300" height = "400 "alt="me">
        </p>
        </center>
    </body>
</html>

