<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Maximilian Acebal</title>
    <head>
    <body> 
        <center>
        <p>
            <tt>
            <big>
            
            <b style ="color:#000000;">MAXIMILIAN ACEBAL</b>
            </big>
            </tt>
            <br />
            <br />
            <img src ="/static/me.jpg" 
            width = "280" height = "230 "alt="me">
        </p>
        <hr width = "50%" style ="color:#000000;">
        <p>
            <small style ="color:#000000;">
            Columbia University Rising Sophomore 
            <br />
            <br />
            Computer Engineering Major
            </small>
        </p>
        <hr width = "50%" style ="color:#000000;">
        <p>
            <small style ="color:#000000;">
            <a href="https://www.youtube.com">My favorite Website</a>
            <br />
            <br />
            <a href="/assignments">Assignments Page</a>
            <br />
            <br />
            <a href="/classes">Classes Page</a>
            </small>
        </p>
        </center>
    </body>
</html>

